@model AutoMobileProject.Models.ViewModels.CarAndServicesViewModel

<h4>Car record for Customer</h4>
<div class="row form-control">
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Cars.Make" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom: 5px;">
                <input asp-for="Cars.Make" disabled class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Cars.Model" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom: 5px;">
                <input asp-for="Cars.Model" disabled class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Cars.Style" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom: 5px;">
                <input asp-for="Cars.Style" disabled class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Cars.Year" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom: 5px;">
                <input asp-for="Cars.Year" disabled class="form-control"/>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-sm-offset-2">

    </div>
</div>