@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    365/67, Thanon Phuttha Bucha, Soi Phuttha Bucha 47<br />
    Khwaeng Bang Mot, Thonburi Home<br />
    Thung Khru, ​Bangkok ​10140<br />
    <abbr title="Phone">P:</abbr>
    082-2885626
</address>

<address>
    <strong>Email:</strong> <a href="mailto:pisit-38@live.com">pisit-38@live.com</a><br />
</address>
