@model AutoMobileProject.Models.ServiceTypes
@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>Delete Service Type</h2>
<hr />

<form asp-action="Delete">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="hidden" asp-for="Id" />
            <fieldset disabled>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="ServiceName" class="custom-label"></label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="ServiceName" class="form-control">
                        </div>
                    </div>
                </div>
            </fieldset>
            <br />
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
                <a asp-action="Index" class="btn btn-sm btn-success">Back to List</a>
            </div>
        </div>
    </div>
</form>
